/* Setting all elements to border box */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background color for the body of the page */
body {
    background-color: #d9dcd6;
}

/* Style the background of header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    border-bottom: 10px solid #ff8533;
}

/* Style the company name 'Horiseon' */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Style the 'seo' words within 'Horiseon' */
.header h1 .seo {
    color: #ff8533;
}

/* Style the list of links next to company name */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Adjust list to the right and removes the dots */
.header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* Style for the list */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Style for the background image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Styling the content within the article  */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Moving the seo and smm image to the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Moving the orm image to the right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Font size for all paragraphs */
p {
    font-size: 16px;
}

/* Style background for the article section */
.style {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Height of the images for the article section */
.style img {
    max-height: 200px;
}

/* Style the headers for the article section */
.style h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #ff8533;
}

/* Style background for aside section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Style the content within aside section */
.aside-style {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Style the header within aside section */
.aside-style h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Style the images within aside section */
.aside-style img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Style background for footer section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Font size of the header within footer section */
.footer h2 {
    font-size: 20px;
}